@{
    ViewData["Title"] = "Home Page";
}

@using WebApplicationWithIdentity.Services
@using Microsoft.Extensions.Configuration;

@inject IDataService dataService
@inject IConfiguration configuration


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var count = dataService.GetCount();
}




<vc:hello-world></vc:hello-world>










<div>@count</div>

@{
    var allowedHosts = configuration["AllowedHosts"];
    var connectionString = configuration["ConnectionStrings:DefaultConnection"];
    var productionSettings = configuration["T"];
}

<div>@allowedHosts</div>
<div>@connectionString</div>
<div>@productionSettings</div>

<div class="tag-helper-content">

    <h1 target-name="John"></h1>
</div>

<partial name="..\_CommonCodePartial.cshtml" />

